$white: #ffffff;
$black: #000000;
$mine-shaft3: #202020;
$mine-shaft: #252525;
$mine-shaft2: #363636;
$tundora: #464646;
$mine-shaft4: #2f2f2f;
$emperor: #555555;
$dove-gray: #636363;
$dove-gray: #707070;
$dusty-gray: #959595;
$cinnabar: #e5493a;
